/* :root {
  --primary: white;
  --secondary: black;
}

.btn {
  padding: 8px 20px;
}

.btn--primary {
  background-color: var(--primary);
  color: black;
}

.btn--outline {
  background-color: var(--seconday);
}

.btn--medium {
  padding: 8px 20px;
  font-size: 20px;
}

.btn--large {
  padding: 12px 26px;
  font-size: 20px;
}

.btn--medium:hover,
.btn--large:hover {
  background-color: red;
} */
